In [34]:
import pandas as pd
import torch, numpy as np, pandas as pd

In [58]:
train_data = pd.read_csv("/Users/wukaiti/main_deeplearning/deeplearning/Proj_05_titanic/train.csv")
test_data = pd.read_csv("/Users/wukaiti/main_deeplearning/deeplearning/Proj_05_titanic/test.csv")

In [59]:
mean_age = train_data.Age.mean().astype(int)
train_data["Age"] = train_data["Age"].fillna(value= mean_age)

In [61]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [60]:
test_data["Age"] = train_data["Age"].fillna(value= mean_age)
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,22.0,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,38.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,26.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,35.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,35.0,1,1,3101298,12.2875,NaN,S

In [62]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [63]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### select pclass, sex, age, sibsp, parch, as predictor

In [67]:
test_data1 = test_data[['Pclass','Sex', 'Age', 'SibSp', 'Parch']]
train_data1 = train_data[['Pclass','Sex', 'Age', 'SibSp', 'Parch']]

In [70]:
test_data1.SibSp.unique()

array([0, 1, 2, 3, 4, 5, 8])

In [72]:
train_data1

,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_0.42,Age_0.67,Age_0.75,Age_0.83,Age_0.92,...,SibSp_4,SibSp_5,SibSp_8,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6
0,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,0,0,1,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
3,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
887,1,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
888,0,0,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
889,1,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
890,0,0,1,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [71]:
test_data1 = pd.get_dummies(test_data1, columns=['Pclass','Sex', 'Age', 'SibSp', 'Parch'], dtype=int)
test_data1.columns
train_data1 = pd.get_dummies(train_data1, columns=['Pclass','Sex', 'Age', 'SibSp', 'Parch'], dtype=int)
train_data1.columns

Index(['Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male',
       'Age_0.42', 'Age_0.67', 'Age_0.75', 'Age_0.83', 'Age_0.92',
       ...
       'SibSp_4', 'SibSp_5', 'SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2',
       'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6'],
      dtype='object', length=107)

In [39]:
from torch import tensor
#t_dep = tensor(df.Survived)

In [40]:
#indep_cols = ['Age', 'SibSp', 'Parch','Sex_female', 
#'Sex_male', 'Pclass_1','Pclass_2', 'Pclass_3']
#t_indep = tensor(df[indep_cols].values, dtype=torch.float)
#t_indep

In [41]:
y_train = train_data["Survived"]
features = ["Fare","SibSp", "Parch", "Embarked"]
X_train = pd.get_dummies(train_data[features]) #Convert categorical variable into dummy/indicator variables.
X_train.drop(columns=['Embarked_Q'], inplace = True)
X_test = pd.get_dummies(test_data[features]) #Convert categorical variable into dummy/indicator variables.
#X_test.drop(columns=['Sex_female','Pclass_3','Embarked_Q'], inplace = True)
X_test["Fare"].iloc[152] = test_data["Fare"].mean() # filled 1 null value with mean value of Fare because linear model does not work with missing values
X_test.head()

/var/folders/_3/95ys3_5j3m338xqx08t_py280000gn/T/ipykernel_75485/545450364.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test["Fare"].iloc[152] = test_data["Fare"].mean() # filled 1 null value with mean value of Fare because linear model does not work with missing values

      Fare  SibSp  Parch  Embarked_C  Embarked_Q  Embarked_S
0   7.8292      0      0       False        True       False
1   7.0000      1      0       False       False        True
2   9.6875      0      0       False        True       False
3   8.6625      0      0       False       False        True
4  12.2875      1      1       False       False        True

In [42]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression()

In [43]:
# Calculate the accuracy values for threshold values in range (0.25,0.75) and choose best treshold value
from sklearn.metrics import accuracy_score
score = {}
for i in np.linspace(0.25,0.75,50):
    score[i] = accuracy_score(y_train, (lm.predict(X_train)>i).astype('int'))
treshold = max(score, key=score.get)

In [45]:
# Prediction of test_data
predictions = (lm.predict(test_data)>treshold).astype('int')

ValueError: The feature names should match those that were passed during fit.
Feature names unseen at fit time:
- Age
- Cabin
- Embarked
- Name
- PassengerId
- ...
Feature names seen at fit time, yet now missing:
- Embarked_C
- Embarked_S